@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Source+Sans+Pro:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  max-width: max-content;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 216px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

html {
  background-color: #f7f0e8;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
/* NavBar */
.logo {
  width: 45%;
}


.navbar {
  display: grid;
  grid-template-columns: 300px 24% auto;
  height: 50px;
  padding: 6px;
  background-color: #ebc1c1;
}

@media only screen and (max-width:1340px) {
  .detailContent{
    grid-template-columns: auto auto auto !important;
  }
}

@media only screen and (max-width:930px) {
  .detailContent{
    display: block !important;
  }
  .thumbnailImage {
    display: none;
  }
  .imageDetail{
    width: 87% !important;
    margin: 0px 0px 0px 3% !important;
  }  
}

@media only screen and (max-width:930px) {
  .detailContent{
    grid-template-columns: auto auto auto !important;
  }
}


@media only screen and (max-width: 600px) {
  .navbar {
    grid-template-columns: auto auto auto;
  }
  .logo {
    width: 110px;
  }
  .category{
    font-size: 13px;
  }
  .itemCart__detail{
    margin: 14px !important;
    font-size: 10px;
  }
  .itemCart__image{
    width: 63px !important;
    margin: 10px;
  }
  .itemCart__qty{
    width: 80px !important;
  }
  .totalCart{
    width: 85px !important;
    left: 68% !important;
    font-size: 10px !important;
  }
}

@media only screen and (max-width:350px) {
  .socialMedia__title {
     margin-right: 0px !important; 
  }
  .logo {
    width: 74px;
  }
}
.itemCart__qty{
  width: 120px;
}


.rigth{
  float: right;
}
.iconCart {
  width: 30px;
}
.iconLogin {
  width: 24px;
  margin: 4px 12px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

.search {
  height: 21px;
  margin-top: 6px;
  border-radius: 50px
}

.options {
  float: right !important;
}

.options__butons {
  width: 15%;
}

.inline {
  display: inline-block;
}

.category {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f5d6d6;
}

/* Section Home */
.product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 50px 50px 50px;
}

.carousel {
  height: 430px;
  width: 100%;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.contactContainer {
  display: flex;
  background-color: #ebc1c1;
  justify-content: space-between;
}
.iconItems {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactIcon {
  width: 30px;
  margin: 5px 8px 5px 21px;
}

.centerText {
  text-align: center;
}

.socialMedia__title {
  margin-right: 31px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31vh;
}

.initButton {
  margin: 39px;
}

.logoupButton {
  margin: 70px;
}

.logoupLink {
  margin: 42px;
}

.filter {
  width: 80px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 145px;
}
.itemCart__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCart__image {
  width: 100px;
  border-radius: 50%;
}
.itemCart__detail {
  margin: 60px;
}
.totalCart {
  width: 167px;
  position: relative;
  left: 65%;
  margin-bottom: 20px;
}
.detailContent {
  display: grid;
  grid-template-columns: 11% 40% auto;
  padding: 30px;
  padding: 30px;
}
.thumbnailImage {
  width: 150px; 
}
.imageDetail {
  width: 450px;
  margin: 0px 100px 0px 60px;
}

.productsContent {
  display: grid;
  grid-column: 20% 80%;
  grid-row: auto;
}
