@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Source+Sans+Pro:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Montserrat", sans-serif; }

body {
  margin: 0; }

a {
  max-width: max-content; }

/*MIXIN*/
.btn-primary, .btn-login, .btn-logup {
  color: #fff;
  background-color: #b78787;
  border-color: #b78787; }
  .btn-primary:hover, .btn-login:hover, .btn-logup:hover {
    border-color: #8e3635;
    background-color: #8e3635; }
  .btn-primary:active:focus, .btn-login:active:focus, .btn-logup:active:focus {
    border-color: #8e3635;
    background-color: #8e3635;
    box-shadow: 0 0 0 0.25rem #b78787; }

/*EXTEND*/
.btn-login, .btn-logup {
  background-color: LightPink;
  border-color: LightPink; }

.navbar {
  background-color: #f0bec1; }
  .navbar .buttonNavbar {
    border-color: #8e3635;
    color: #8e3635; }
    .navbar .buttonNavbar:hover {
      color: #fff;
      background-color: #b78787;
      border-color: #b78787;
      box-shadow: 0 0 0 0.25rem #b78787; }
  .navbar .iconCart {
    width: 32px;
    float: right; }
  .navbar .iconLogin {
    width: 24px;
    float: right; }

.formTitle {
  display: flex;
  justify-content: center;
  color: #8e3635; }

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #8e3635; }

.formContainerDetails {
  color: #8e3635; }

.form-control:focus {
  border-color: #b78787;
  box-shadow: 0 0 0 0.25rem #b78787; }

.buttonForm {
  margin-left: 50%; }

.selectFilter {
  width: 25%; }
  .selectFilter .filter {
    background-color: #f0bec1;
    color: #8e3635; }
    .selectFilter .filter:hover {
      color: #8e3635; }
    .selectFilter .filter:focus {
      box-shadow: 0 0 0 0.25rem #8e363561; }

.card-title {
  color: #8e3635; }

.card-img,
.card-img-bottom,
.card-img-top {
  width: 80%; }

.itemCart {
  max-width: 40%; }

.desktopCart {
  display: none; }

.mobileDetail {
  display: none; }

@media screen and (max-width: 830px) {
  .detailContent {
    display: flex;
    flex-direction: column; }
  .itemCart {
    max-width: 70%; }
  .cartNav-item {
    margin-left: 0px; } }

@media screen and (max-width: 500px) {
  .indexCarousel,
  .desktopDetail, .search {
    display: none; }
  .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 75%;
    display: flex;
    justify-content: start;
    margin: 0%; }
  .cardContent {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    margin: 0%; }
  .selectFilter {
    width: 50%; }
  .mobileDetail {
    display: block; }
  .itemCart {
    max-width: 40%; }
  .itemCart__img {
    width: 50%; }
  .desktopCart {
    display: block; }
  .iconMobile {
    flex-direction: row; }
  .cartNav-item {
    margin-left: 40px; } }

@media screen and (max-width: 390px) {
  .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: start;
    margin: 0%; }
  .cardContent {
    padding-top: 3%; }
  .itemCart {
    max-width: 100%; } }
