.formTitle {
  display: flex;
  justify-content: center;
  color: map-get($colors, primary-color);
}
.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: map-get($colors, primary-color);
}
.formContainerDetails {
  color: map-get($colors, primary-color);
}

.form-control:focus {
  border-color: map-get($colors, secudary-color);
  box-shadow: 0 0 0 0.25rem map-get($colors, secudary-color);
}
.buttonForm {
  margin-left: 50%;
}

.selectFilter {
  width: 25%;
  .filter {
    background-color: map-get($colors, third-color);
    color: map-get($colors, primary-color);
    &:hover {
      color: map-get($colors, primary-color);
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem map-get($colors, fifth-color);
    }
  }
}
