.navbar {
  background-color: map-get($colors, third-color);
  .buttonNavbar {
    border-color: map-get($colors, primary-color);
    color: map-get($colors, primary-color);
    &:hover {
      color: map-get($colors, fourth-color);
      background-color: map-get($colors, secudary-color);
      border-color: map-get($colors, secudary-color);
      box-shadow: 0 0 0 0.25rem map-get($colors, secudary-color);
    }
  }
  .iconCart {
    width: 32px;
    float: right;
  }
  .iconLogin {
    width: 24px;
    float: right;
  }
}

